# .gitignore
.env
__pycache__/
*.pyc
.venv/
interview-bot-key.pem
venv/
.github/
.gradio/
.gradio
*.pem
__pycache__
venv
interview_app.tar
*.json
app/credentials.json
evaluation/credentials.json