# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
.venv/
.env


code_generator.py
evaluate.ipynb
experiment.ipynb

.git/
.gitignore
interview-key.pem
Dockerfile
.dockerignore

# Ignore logs and temporary files
*.log
*.tmp
